System.config({
  //use typescript for compilation
  transpiler: 'typescript',
  //typescript compiler options
  typescriptOptions: {
    emitDecoratorMetadata: true
  },
  paths: {
    'npm:': 'https://unpkg.com/'
  },
  //map tells the System loader where to look for things
  map: {

    'app': './',

    '@angular/core': 'npm:@angular/core@<%- dependencyVersions.angular %>/bundles/core.umd.js',
    '@angular/common': 'npm:@angular/common@<%- dependencyVersions.angular %>/bundles/common.umd.js',
    '@angular/common/http': 'npm:@angular/common@<%- dependencyVersions.angular %>/bundles/common-http.umd.js',
    '@angular/compiler': 'npm:@angular/compiler@<%- dependencyVersions.angular %>/bundles/compiler.umd.js',
    '@angular/platform-browser': 'npm:@angular/platform-browser@<%- dependencyVersions.angular %>/bundles/platform-browser.umd.js',
    '@angular/platform-browser-dynamic': 'npm:@angular/platform-browser-dynamic@<%- dependencyVersions.angular %>/bundles/platform-browser-dynamic.umd.js',
    '@angular/router': 'npm:@angular/router@<%- dependencyVersions.angularRouter %>/bundles/router.umd.js',
    '@angular/forms': 'npm:@angular/forms@<%- dependencyVersions.angular %>/bundles/forms.umd.js',
    '@angular/platform-browser/animations': 'npm:@angular/platform-browser@<%- dependencyVersions.angular %>/bundles/platform-browser-animations.umd.js',
    '@angular/animations/browser': 'npm:@angular/animations@<%- dependencyVersions.angular %>/bundles/animations-browser.umd.js',
    '@angular/animations': 'npm:@angular/animations@<%- dependencyVersions.angular %>/bundles/animations.umd.js',

    '@angular/cdk/portal': 'npm:@angular/cdk@<%- dependencyVersions.angularCdk %>/bundles/cdk-portal.umd.js',
    '@angular/cdk/overlay': 'npm:@angular/cdk@<%- dependencyVersions.angularCdk %>/bundles/cdk-overlay.umd.js',
    '@angular/cdk/a11y': 'npm:@angular/cdk@<%- dependencyVersions.angularCdk %>/bundles/cdk-a11y.umd.js',
    '@angular/cdk/scrolling': 'npm:@angular/cdk@<%- dependencyVersions.angularCdk %>/bundles/cdk-scrolling.umd.js',
    '@angular/cdk/bidi': 'npm:@angular/cdk@<%- dependencyVersions.angularCdk %>/bundles/cdk-bidi.umd.js',
    '@angular/cdk/coercion': 'npm:@angular/cdk@<%- dependencyVersions.angularCdk %>/bundles/cdk-coercion.umd.js',
    '@angular/cdk/keycodes': 'npm:@angular/cdk@<%- dependencyVersions.angularCdk %>/bundles/cdk-keycodes.umd.js',
    '@angular/cdk/platform': 'npm:@angular/cdk@<%- dependencyVersions.angularCdk %>/bundles/cdk-platform.umd.js',

    'angular-calendar': 'npm:angular-calendar@<%- dependencyVersions.angularCalendar %>/bundles/angular-calendar.umd.js',
    '@kidscare-tech/calendar-utils': 'npm:calendar-utils@<%- dependencyVersions.calendarUtils %>/dist/umd/calendar-utils.js',
    'angular-resizable-element': 'npm:angular-resizable-element@<%- dependencyVersions.angularResizableElement %>/bundles/angular-resizable-element.umd.js',
    'angular-draggable-droppable': 'npm:angular-draggable-droppable@<%- dependencyVersions.angularDraggableDroppable %>/bundles/angular-draggable-droppable.umd.js',
    'date-fns': 'npm:date-fns@<%- dependencyVersions.dateFns %>',
    'positioning': 'npm:positioning@<%- dependencyVersions.positioning %>/dist/umd/positioning.js',

    '@ng-bootstrap/ng-bootstrap': 'npm:@ng-bootstrap/ng-bootstrap@<%- dependencyVersions.ngBootstrap %>',
    'ngx-contextmenu': 'npm:ngx-contextmenu@<%- dependencyVersions.ngxContextmenu %>',
    'rxjs': 'npm:rxjs@<%- dependencyVersions.rxjs %>',
    'rrule': 'npm:rrule@<%- dependencyVersions.rrule %>',
    'typescript': 'npm:typescript@<%- dependencyVersions.typescript %>/lib/typescript.js'
  },
  //packages defines our app package
  packages: {
    app: {
      main: './bootstrap.ts',
      defaultExtension: 'ts'
    },
    rxjs: {
      defaultExtension: 'js'
    },
    'date-fns': {
      main: './index.js',
      defaultExtension: 'js'
    },
    'ngx-contextmenu': {
      main: './lib/index.js',
      defaultExtension: 'js'
    }
  }
});
